body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}

/*popup*/

.front-screen{
  width: 100% !important;
  height: 100% !important;
  background: #ef473a  !important;
  opacity: 0.7;


}

/*
.popup-head{
  height: 120px !important;
  background: red  !important;
}
.popup-title {
  color: #fff !important;
}
*/
.popup-body{
  background: none !important;
  opacity: 1 !important;
}
/*
.popup-buttons {
  height: 120px !important;
}
*/
